{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter your Journey Details</legend>
                    <div class="alert alert-secondary">
                        By date, the app expects the date you reach KGP
                      </div>
                <div class="form-group">
                    {% if form.train_number.errors %}
                        {{ form.train_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.train_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.train_number(class="form-control form-control-lg", placeholder="Train Number") }}
                    {% endif %}
                </div>
                <div class="form-group">

                    {% if form.date.errors %}
                        {{ form.date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date(class="form-control form-control-lg", placeholder="Date", type="date") }}
                    {% endif %}
                </div>
                <div class="form-group">

                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg", placeholder="Name") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.phone.errors %}
                        {{ form.phone(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phone(class="form-control form-control-lg", placeholder="Whatsapp Number") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {% if form.roll.errors %}
                        {{ form.roll(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.roll.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.roll(class="form-control form-control-lg", placeholder="Institute Roll Number") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class ="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already submitted your train details? <a class="ml-2" href="{{ url_for('login') }}">Check List</a>
        </small>
    </div>
{% endblock content %}